<article>
  <header>
    <h1><%= @car.make %></h1>
  </header>
  <h2>Model</h2>
  <p>
    <%= @car.model %>
  </p>
  <h3>Year</h3>
  <p>
    <%= @car.year %>
  </p>
  </article>

<nav>
  <%= link_to "All Cars", cars_path %> |
  <%= link_to "Edit", edit_car_path(@car) %>
</nav>
